body {background-color: #eaf6f6 ;}

img{ border: double #66bfbf;
     padding: 0px;
     border-width: 15px;
    border-radius: 1000px;}
hr {color:none ;
    height:0px;
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-color:#d2f6c5;
    border-width: 4px;}

h1 { color: #66bfbf ;}
i{ color: #66bfbf ;}
h2 { color:  #66bfbf;}
p { color: #66bfbf ;
  font-family: Times New Roman;}
li {color: #66bfbf ;
  font-family: Times New Roman; }
  form{ color: #66bfbf }
